[user]
  name = {{ .git.name }}
  email = {{ .git.email }}
[init]
  defaultBranch = main
[core]
  autocrlf = input
[pull]
  rebase = false
[credential]
  helper = osxkeychain
{{- if .git.githubUser }}

# GitHub 仓库自动切换身份
[includeIf "hasconfig:remote.*.url:git@{{ .git.githubHost | default "github.com" }}:**"]
  path = ~/.gitconfig-github
{{- end }}
