[user]
  name = {{ .git.name }}
  email = {{ .git.email }}
[init]
  defaultBranch = main
  templateDir = ~/.git-template
[core]
  autocrlf = input
[pull]
  rebase = false
[credential]
  helper = osxkeychain
