Host *
  AddKeysToAgent yes
  UseKeychain yes
  IdentityFile ~/.ssh/{{ .git.defaultKeyName | default "id_ed25519" }}
{{- if .git.githubUser }}

Host {{ .git.githubHost | default "github.com" }}
  HostName {{ .git.githubHost | default "github.com" }}
  User git
  IdentityFile ~/.ssh/{{ .git.githubKeyName | default "id_ed25519_github" }}
{{- end }}
